.explore{
    overflow-y: scroll;
}


.explore-heading {
    position: fixed;
    width: 100%;
}
.explore-heading h1{
    background-color: white;
    font-family: "Dosis";
    text-align: center;
    font-size: 3rem;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding-bottom:1rem
}
.explore-buy button:hover{
    cursor: pointer;
}
.explore-buy button{
    background-color: var(--c2);
    color: white;
    padding:2rem 6rem;
    border-radius:0.4rem;
    font-family: 'Dosis';
    font-size: 3rem;
    font-weight:500;
    margin-right: 4rem;
}
.explore-buy {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    background-color: white;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 4rem;
    align-items: center;
    justify-content:space-between;
    box-shadow: 0 -4px 8px 0px rgba(0, 0, 0, 0.3);
}
.explore-buy h1{
    font-family: "Dosis";
    font-size: 6rem;
    color: var(--c2);
    margin-left: 3rem;
}
.explore-buy h2{
    font-family: "Dosis";
    font-size: 3rem;
    color: green;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    border-radius:1rem;
    margin-left: 2rem;
}



.explore-enter-top h1{
    font-family: "Dosis";
    font-size: 3rem;
    color: green;
    
}
.explore-enter-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:8rem;
}
.explore-enter-second h1{
    font-family: "Dosis";
    font-size: 3.4rem;
}
.explore-enter-second-list h2{
    font-size: 8rem;
    padding: 0 1.8rem;
    font-weight: 100;
}
.explore-enter-second-list h1{
    font-size: 2.6rem;
    text-align: center;
}
.explore-enter-second-list{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}
.explore-enter-second{
    margin-top:6rem;
}
.explore-enter-third{
    margin-top:6rem;
}
.explore-enter-third h1{
    font-family: "Dosis";
    margin-bottom: 2rem;
    font-size: 6rem;
    color: var(--c2);
    font-weight: 500;
    text-align: center;
}

.explore-enter-fourth {
    padding-left: 3rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
}
.explore-enter-fourth h1{
    font-weight: 500;
    color:green;
    margin-bottom: 1rem;
    font-family: 'Dosis';
    font-size: 3rem;
}
.explore-enter-fourth h2{
    margin-bottom: 2rem;
    margin-top:6rem;
    font-family: 'Dosis';
    font-weight: 500;
    font-size: 6rem;
}

.explore-enter-five h1{
    font-weight: 500;
    color:var(--c2);
    font-family: 'Dosis';
    font-size: 6rem;
    text-align: center;
}
.explore-enter-five{
    margin-top:6rem;
}

.explore-enter-five-list h3{
    padding:2rem 3rem;
    color:white;
    font-size:4rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: var(--c2)
}
.explore-enter-five-list{
    padding: 0rem 2rem 4rem 2rem;
}
.explore-enter-five-inner h2{
    font-family: "Dosis";
    font-size: 3rem;
    padding-left: 2rem;
}
.explore-enter-five-inner{
    display: flex;
    margin-top: 4rem;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 8px 3px rgba(0, 0, 255, 0.2);
}