.footer-main {
    height: max-content;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    padding-top:2rem
}

.footer-one {
    color:white;
    display: flex;
    gap: 14rem;
    align-items: flex-start;
    justify-content: center;
    margin-top:8rem;
    font-family: 'Dosis', sans-serif;
}

.footer-one div {
    list-style: none;
}
.footer-two {
    height: 40%;
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: flex-end
}

.social-class {
    margin: 2rem auto;
    width: max-content;
}

.social-class ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.footer-brand {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Righteous', sans-serif;
    padding: 1rem;
    font-size: 1.2rem
}

.footer-nil {
    width: max-content;
    margin: 0 auto;
    position: relative;
    bottom: 3.5rem
}
.footer-ek div li:hover, .footer-do div li:hover, .footer-teen div li:hover{
cursor: pointer;
}
.footer-ek div li, .footer-do div li, .footer-teen div li{
font-family: "Dosis";
padding-bottom: 1rem;
width:max-content;
font-size: 2rem;
}
.footer-ek h1, .footer-do h1, .footer-teen h1{
    border-bottom: 0.2rem solid white;
    margin-bottom:3rem;
    font-size: 3rem;
    font-family: "DM Sans"
}
.f-gappers{
    height:14rem;
    background-color:#1b1b1b
}
.fotter-t-t{
    font-size: 4rem;
    border-bottom: 0.2rem solid white;
}
.footer-ek-aur {
    gap:2rem;
    margin-top:8rem;
    display: flex;
    justify-content:center;
    place-items: center;
    flex-direction: column;
}
.footer-ek-aur h1 {
    font-size: 4rem;
}
.footer-ek-aur img {
    padding:2rem;
    height:6rem;
    width:6rem;
    background-color:white;
    border-radius: 50%;
}
.footer-th-t h1{
    color:white;
    font-size: 2rem;
    font-family: "Dosis";
    letter-spacing: 0.1rem;
}
.footer-th-t{
    display: flex;
    justify-content:center;
    place-items:center;
    gap:4rem
}
.footer-three h1{
    font-weight: 600;
}
.footer-three{
    display: flex;
    padding-top: 2rem;
    justify-content:center;
    place-items: center;
    gap:2rem;
    color:white;
    font-family: "DM Sans";
    flex-direction: column;
}