.book h1{
   font-family: "Dosis";
   font-size: 4rem;
   text-align: center;
   padding:2rem 0
}
.book-one{
    display: flex;
    justify-content: center;
    place-items: center;
    padding:4rem 1rem;
    gap:6rem;
    flex-wrap: wrap;
}
.book-cont img{
    height:18rem;
    width:max-content;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    margin-bottom:2rem;
}
.book-cont button:hover{
    transform: translateY(-4px);
    cursor: pointer;
}
.book-cont button{
    padding:1rem 3rem;
    background-color:gold;
    color:black;
    font-family: "Dosis";
    border-radius: 0.2rem;
    margin-top:2rem;
    font-weight: 500;
    transition: all 0.2s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
.book-cont h2{
    text-align:center;
    font-family: "Dosis";
    font-size: 2rem;
}
.book-cont h4{
    text-align:center;
    font-family: "Dosis";
    font-size: 1.4rem;
    padding-top:0.6rem;
    color:green;
}
.book-cont h3{
    text-align:center;
    font-size: 1.6rem;
    padding-top:0.6rem;
    color:var(--c1);
    font-family: "Dosis";
}
.book-for{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center
}
.book-cont{
    box-shadow: 0 0px 3px 1px rgba(0,0,0, 0.3);
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    padding:2rem 1rem;
    min-width:20rem;
    transition: all 0.2s;
}

.book-state button:hover{
    cursor: pointer;
}
.book-state button{
    background-color:var(--s3);
    margin-left: 2rem;
    font-family: "Dosis";
    padding:1rem 4rem;
    color:white;
    font-weight: 600;
    transition: all 0.2s;
    font-size: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
.book-state{
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    gap:8rem;
    padding:2rem 0
}
.book-start{
    transform: translateY(-20px);
}
.p-element{
    background-color:rgba(0, 0, 0, 0.3);
    height:1px;
    width:100%;
}