.contact-main{
    height: max-content;
    background-color:white;
    text-align: center;
    display: flex;
    justify-content:center;
    place-items: center;
}
.contact-main h1{
    font-weight: 200;
    font-size: 8em;
    color:var(--c1);
    letter-spacing: -0.2rem;
    font-family: "Dosis", sans-serif;
    margin: 8rem 0rem;
}
.contact-second {
    height:max-content;
    background-color:white;
    display:flex;
    justify-content:center;
    place-items: flex-start;
    gap: 10rem;
    padding:2rem 12rem;
    padding-bottom:10rem
}
.contact-tab p{
    font-family: "Dosis",sans-serif;
    color:var(--c1);
    font-size:2rem;
    font-weight: 400;
    word-spacing: 0.2rem;
}
.contact-tab1 div a{
    color:var(--c1) !important
}
.contact-tab1 div{
    margin-top:5rem;
    font-size:1.6rem;
    font-weight: 200;
    font-family: "Righteous",sans-serif;
    color:var(--c1);

}
.contact-tab{
    height:max-height;
    width:max-width;
    padding:2rem;
    border-radius: 1rem;
    background-color: white;
}
.contact-tab button:hover{
    cursor: pointer;
}
.contact-tab button{
    padding:1rem 6rem;
    background-color:var(--c2);
    border:0.1rem solid white;
    border-radius: 1rem;
    color:white !important;
    text-transform: uppercase;
    font-size:1rem;
    font-family: "Righteous",sans-serif;
    margin-top:4rem
}