.video-form, .video-cont{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    background-color: darkturquoise;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 1rem;
}
.video-form input{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
}
.video-form{
    margin-bottom:4rem;
}
.video-submit:hover{
    cursor: pointer;
    background-color:white;
    color:black;
}
.video-submit{
    padding:1rem 4rem;
    border-radius: 1rem;
    background-color:black;
    color:white;
}