/* ///////////// pd supermacy /////////////////////// */
.pd_main{
    display:flex;
    justify-content:center;
    place-items:center;
    flex-direction:column;
}
.pd_one_head{
    display:flex;
    justify-content:center;
    place-items:center;
    flex-direction:column;
}
.pd_one_head h1{
    font-family: "DM Sans";
    font-size: 8rem;
    color: navy;
    margin:4rem 0;
    font-weight: 600;
}
.pd_one_button button:hover{
    cursor: pointer;
}
.pd_one_button button{
    font-weight: 500;
    font-size: 2.4rem;
    padding:1rem 6rem;
    transition: all 0.2s;
    color:white;
    font-family: "DM Sans";
    background-color:var(--s4);
    border-radius: 0.4rem;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2)
}
.pd_one_button{
    display:flex;
    justify-content:center;
    place-items:center;
    gap:2rem;
    padding:4rem 0
}
.pd_card_useless{
    width:100%;
    display:flex;
    justify-content:flex-end;
}
.pd_card_one h6{
    font-family: "DM Sans";
    font-size: 1.4rem;
    margin-top:1rem;
    letter-spacing:0.08rem;
    margin-right:1rem;
    width:max-content;
    padding:0.4rem 1rem;
    color: white;
    background-color: var(--s4);
    font-weight: 600;
    border-radius: 50rem;
}
.pd_cambo h1{
    color:white !important;
}
.pd_card_one h1{
    font-family: "DM Sans";
    font-size: 2rem;
    color: black;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-weight: 500;
    width:max-content;
}
.pd_card_slab h4{
    background-color:var(--s4);
    padding:1rem 3rem;
    color:white;
    margin:1rem auto;
    border-radius: 0 0 10rem 10rem;
    font-family: "Dosis";
    width:max-content;
    font-size: 1.8rem;
}
.pd_control_buttons button:hover{
    cursor: pointer;
    transform: translateY(-0.4rem);
}
.pd_card_cont{
    display:flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-around;
}
.pd_card_slab ul li{
    padding-bottom: 1rem;
}
.pd_card_slab ul{
    list-style: none;
    color:black;
    font-weight: 600;
    font-family: "Dosis";
    font-size: 1.8rem;
    margin:0rem 1rem;
    padding-bottom: 1rem;
}
.pd_combo_h6{
    color: white !important;
    border-color: white !important;
}
.pd_h6{
    font-family: "Dosis";
    font-weight: 600;
    font-size: 2rem;
    color:black;
    width:80%;
    text-align:center;
    padding-bottom: 0.4rem;
    margin: 2rem auto;
    border-bottom:2px solid black;
    display: block;
}
.pd_control_buttons button{
    padding:0.6rem 2rem;
    border-radius: 0.4rem;
    background-color:var(--s3);
    color:white;
    font-family: Dosis;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    transition: all 0.2s;
    font-size: 2rem;
}
.pd_control_buttons{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    place-items: center;
    gap:1rem
}
.pd_slab_combo ul{
    color:white !important;
}
.pd_card_slab h3{
    background-color:var(--s4);
    padding:0.6rem 2rem;
    color:white;
    margin:1rem auto;
    font-weight: 600;
    word-spacing: 0.2rem;
    border-radius: 0.4rem;
    font-family: "Dosis";
    width:max-content;
    font-size: 2rem;
}
.pd_card_one{
    display:flex;
    justify-content:center;
    place-items:center;
    flex-direction: column;
}
.pd_card_one img{
    height: 18rem;
    width:95%;
    margin:1rem auto;
    border-radius: 0.4rem;
}
.pd_card_combo{
    background-color:black !important;
    box-shadow: 0 2px 30px -6px gold !important;
}
.pd_card{
    height:max-content;
    box-shadow: 0 2px 4px 2px rgba(0,0,0, 0.3);
    background-color:white;
    width:32rem;
    border-radius:2rem;
}
.pd_two{
    width:100%;
}
.pd_two_one{
    padding:4rem 1rem;
    width:100%;
}
/* ///////////// pd supermacy /////////////////////// */
.price-cont{
    margin:0;
    padding:0;
}
.price-main {
    padding-top:3rem;
    padding:4rem 6rem;
    display:flex;
    justify-content:center;
    place-items: flex-start;
}
.price-main h1{
    font-size:6rem;
    font-family: "Dosis";
    font-weight: 400;
    text-align: center;
}
.price-card{
    height:max-content;
    background-color:var(--s1);
    border-radius: 1rem 1rem 1rem 1rem;
    width:32rem;
}
.price-call-img{
    height:5rem;
    width:5rem;
}
.price-call{
    background-color:white;
    margin:1rem;
    padding:1rem;
    justify-content:center;
    place-items:center;
    gap:1rem;
    display: flex;
}
.price-cardd{
    height:max-content;
    background-color:#28282B;
    box-shadow:0 0 4rem 0 gold;
    border-radius: 1rem 1rem 0.3rem 0.3rem;
    width:75%;
}
.price-first-course{
    background-color:var(--c2);
}

.price-first-coursed {
    color:white
}
.price-first-coursed-img{
    border-radius: 0.4rem 0.4rem 0 0;
    height:30rem;
    width:100%;
}

.price-cbtwn h6 img{
    height:2.4rem;
}
.price-cbtwn ul li{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-family: "Dosis";
    font-weight: 600;
    font-size: 1.6rem;
    color:white;
    margin-right: 2rem;
}
.price-tag h4{
    font-family: "Dosis";
    text-align: center;
    font-size:2rem;
    font-weight:600;
    margin-top:1rem;
    color:rgb(211, 192, 86) ;
}
.price-tag h5{
    font-family: "Dosis";
    text-align: center;
    font-size:3.8rem;
    font-weight:600;
    margin-top:3rem;
    color:white;
}
.price-tag h3{
    font-family: "Dosis";
    text-align: center;
    font-size:3.4rem;
    width:50%;
    margin:3rem auto;
    font-weight:600;
    color:#28282B;
}
.price-cbtwn ul{
    display: flex;
    justify-content: flex-start;
    place-items: flex-start;
    flex-wrap: no-wrap;
    flex-direction: column;
    margin-top:4rem;
    padding-bottom:2rem;
    list-style: none;
}
.price-cbt-panel{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap:1rem;
    padding-bottom: 1.6rem;
    place-items: center;
}
.price-cbtwn h6{
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    place-items: center;
    font-family: "Dosis", sans-serif;
    font-size: 1.6rem;
    padding:0 1rem;
    font-weight: 600;
}

.price-main-half-btn:hover{
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-2px)
}
.price-h6{
    color:white;
    font-size:3.4rem;
    font-family: "Dosis";
    font-weight: 600;
    border-bottom: 2px solid white;
    width: 90%;
    margin:0 auto;
    padding: 2rem 0 1rem 0;
    display: flex;
    place-items: center;
    justify-content: center;
}
.price-ltd {
    width: 100%;
}
.price-ltd-timer {
    background-color:black;
    width:96%;
    box-shadow: 0 0px 20px 0 var(--s4);
    margin:3rem auto 8rem auto;
    border-radius: 0.4rem;
    padding: 3rem 0
}
.price-ltd-timer h2 span {
    color:hsl(0 0% 100%/0.9);
    text-shadow: 0 0 8px red;
}
.price-ltd-timer h2{
    color:hsl(0 0% 100%/1);
    text-shadow: 0 0 6px red;
    font-family: "DM Sans";
    font-size: 4rem;
    text-align: center;
}
.price-ltd h1{
    font-weight: 600;
    font-size: 7rem;
    font-family: "DM Sans";
    color:black;
    text-align: center;
    text-shadow: 0px 0px 4px #AA6C39;
    width: 100%;
}
.price-main-half-btn{
    padding:1.6rem 4rem;
    background-color:white;
    border-radius:0.4rem;
    color:#AA6C39;
    width: 45%;
    font-size: 3.4rem;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
    transition: all 0.2s
}
.price-cbtwnl{
    font-family: "Dosis", sans-serif;
    font-size: 1.4rem;
    padding:0 1rem 0 0;
    font-weight: 500;
    text-align:right;
}

@keyframes animes {
    0%{
        color:red
    }
    50%{
        color:gold
    }
    75%{
        color:green
    }
    100%{
        color:red
    }
}
.price-flex h2{
    font-family: "Inter", sans-serif;
    animation: animes 1s linear infinite;
    position: relative;
    font-size: 5rem;
    font-weight: 300;
    color:white
}
.price-flex{
    display: flex;
    justify-content: flex-start;
    place-items: center;
    gap: 2rem;
    width:50%;
    flex-direction: column;
    padding:4rem 0
}
.price-mod{
    width:100%;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.price-spl{
    background-color:black;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.4rem;
    height: 100%;
}
.sales-img{
    height:60rem;
    width:60rem;
    margin:0 auto;
}
.price-head{
    font-family: "Dosis";
    font-size: 3.4rem;
    font-weight: 700;
    background-color:white;
    border-radius:0 0 50rem 50rem;
    color:#28282B;
    text-align: center;
    width: 90%;
    margin: 3rem auto;
    padding:1rem 0
}
.price-deal{
    height:18rem;
    position:relative;
    top:-1rem;
    left:1.4rem;
    width:14rem;
    margin-bottom:-18rem
}