.query-cont {
    width: 80%;
    position: absolute;
    bottom: -0.6rem;
    display: flex;
    justify-content: flex-start;
    place-items: flex-start;
    overflow: hidden;
    background-color: lightgray;
}

.query-array {
    width: 30%;
    height: 100%;
    background-color: cadetblue;
}

.query-boxy {
    width: 70%;
}

.query-toggle {
    padding-bottom: 2rem;
    border-bottom: 4px solid white;
    width: 100%;
}

.toggle-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.toggle-btn {
    width: 20rem;
    padding: 1rem 4rem;
    background-color: black;
    color: white;
    border-radius: 5rem;
    margin: 0 2rem;
}

.support-main {
    background-color: var(--s5);
}

.support-gap {
    height: 5rem;
}

.support-one h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Righteous", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    color: white;
    padding-top: 5rem;
    word-spacing: 0.6rem;
    padding-bottom: 1rem
}

.support-change {
    display: flex;
    justify-content: center;
    margin-top: 4rem !important;
    gap: 10rem;
    background-color: white;
    width: 60%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0 auto;
}

.spl-btn:hover {
    cursor: pointer;
}

.spl-btn {
    margin: 2rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    border-bottom: 0.4rem solid var(--s5);
    color: var(--s5);
    background-color: var(--s1);
}

.forum-one h1 {
    font-family: "Inter", sans-serif;
}

.forum-gap {
    background-color: white;
    height: 4rem
}

.forum-main {
    background-color: white !important;
    height: max-content;
    width: 60%;
    margin: 0 auto;
}

.forum-dis {
    height: max-content;
    width: 60%;
    margin: 0 auto;
    background-color: var(--s5);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.forum-head h1 {
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 2rem;
    background-color: white;
}

.forum-dis input {
    width: 80%;
}

.forum-dis p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Righteous", sans-serif;
    font-size: 2.6rem;
    color: white;
}

.forum-dis button:hover {
    background-color: var(--s5);
    color: var(--s1);
}

.forum-dis button {
    margin: 4rem 0 2rem 0;
    transition: all 0.2s;
    border-radius: 0.4rem;
    padding: 1.4rem 8rem;
    background-color: var(--s1);
    color: var(--s5);
    text-align: right;
    text-transform: uppercase;
    font-family: "Righteous", sans-serif;
}

.answer-main {
    height: max-content;
    background-color: white;
    width: 60%;
    margin: 0 auto
}

.answer-box {
    width: 80%;
    margin: 0 auto;
    height: max-content;
    border-radius: 1rem;
    background-color: var(--s5)
}

.answer-one h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 2rem;
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
}

.query-main {
    font-size: 1.5rem;
}

.date-btn {
    text-align: right;
    color: black;
    display: inline-block;
    font-family: cursive;
    font-size: 1.2rem;
}

.query-open-btn:hover {
    cursor: pointer;
}

.query-open-btn {
    display: inline-block;
    margin-left: 15rem;
    background-color: black;
    color: white;
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 1rem;
    font-family: "Dosis", sans-serif;
}
.Dquery-list-one-1 img {
    height:5rem;
    width:5rem;
    border-radius:50rem;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
}
.Dquery-list-one-2 h1{
    margin: 0;
    position: relative;
    bottom: 4px;
    font-weight: 600;
}
.Dquery-list-one-2 h2{
    font-weight: 400;
    margin: 0;
}
.Dquery-list-one-1 {
    width: 20%;
}
.Dquery-list-one-2 {
    width: 70%;
    flex-direction: column;
}
.Dquery-list-one-3 {
    width: 10%;
}
.Dquery-list-one-3 h1{
    border-radius: 50rem;
    background-color: darkgreen;
    font-family: "Dosis";
    color: white;
    font-size: 1rem;
    height:2rem;
    width: 2rem;
    font-weight: 400;
    margin-right:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Dquery-list-one {
    border-radius: 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 1rem;
    margin-top: 1.6rem;
    font-family: "Dosis", sans-serif;
}

.query-state-btn button {
    padding: 0.2rem 2rem;
    background-color: black;
    color: white;
    padding: 0.8rem 1.8rem;
    border-radius: 4rem;
    border: none;
    margin-right: 1rem;
    font-family: "Dosis", sans-serif;
}

.query-top button:hover,
.query-state-btn button:hover {
    cursor: pointer;
}
/* ////////////////////////////// */
.Dquery-list {
    background-color: white;
    padding: 0rem 1rem 1rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 83.8vh;
}
.query-prof{
height:5rem;
background-color:teal;
display: flex;
justify-content: flex-start;
place-items: center;
padding:1rem 2rem;
gap:2rem
}
.query-prof-1 {
    width:max-content
}
.query-prof-2 h1{
    font-family: "Dosis";
    font-weight: 500;
    color:white
}
.query-prof-2 {
    width:max-content
}
.query-prof-1 img{
    height:5rem;
    width:5rem;
    border-radius: 50rem;
}
.query-top button {
    border-radius: 0.6rem;
    background-color: black;
    font-family: "Dosis", sans-serif;
    color: white;
    padding: 1rem 2rem;
}

.query-btn-hold h1 {
    font-family: "Dosis", sans-serif
}

.query-top {
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 2rem;
    padding: 1rem
}

.query-status h1 {
    margin: 0;
    font-family: "Dosis", sans-serif;
}
.query-one::-webkit-scrollbar { 
    display: none;
}
.query-one {
    height: 47.5rem;
    overflow-y: scroll;
    overflow-x: hidden !important;
    padding: 3rem 1rem;
    background-color: black;
    transition: all 0.4s;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.query-one h1 {
    font-size: 2rem;
    display: flex;
    letter-spacing: 0.1rem;
    justify-content: center;
    place-items: center;
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.query-two h2 {
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
}

.query-date {
    color: green;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.query-chat input {
    height: 100%;
    box-sizing: border-box;
    width: 85%;
    font-family: "Dosis", sans-serif;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem
}

.query-chat button:hover {
    cursor: pointer;
}

.query-chat button {
    padding: 1rem;
    width: 10%;
    border-radius: 0 1rem 1rem 0;
    height: 100%;
    color: white;
    font-family: "Dosis", sans-serif;
    background-color: var(--s3);
}

.query-chat {
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: black;
    padding-bottom: 2rem;
}

.tortor {
    background-color: turquoise;
    transition: all 0.4s;
    padding: 1rem 2rem;
    color: var(--s5);
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: "Dosis", sans-serif;
}

#downsvg {
    position: relative;
    bottom: 2rem;
    right: 3rem;
    border-radius: 1rem;
    background-color: white;
    padding: 0.4rem 0.2rem;
}

#downsvg:hover {
    cursor: pointer;
}

.chat-img {
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
}

.chat-imgi {
    height: 2rem;
    width: 2rem;
    padding: 0.6rem;
    background-color: white;
    border-radius: 5rem;
}

.nvamsg {
    border-radius: 1rem;
    background-color: red;
    color: white;
    padding: 1rem;
    font-family: 'Dosis';
}

.chat-img:hover {
    cursor: pointer;
}

.item {
    height: 100%;
    position: relative;
}

#send-img {
    background: black;
    position: relative;
    transition: all 0.4s;
    overflow: hidden !important;
    display: flex;
    justify-content: center;
}

.img-cont {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    width: 80%;
    background-color: var(--s3);
    margin: 0 auto;

}

.img-cont form button:hover {
    cursor: pointer;
}

.img-cont form button {
    font-family: 'Dosis', sans-serif;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.img-cont form input {
    font-family: 'Dosis', sans-serif
}

.chat-user {
    background-color: var(--s3);
    border-radius: 1rem 1rem 1rem 0rem;
}

.chat-vikas {
    border-radius: 1rem 1rem 0rem 1rem;
    background-color: var(--s4);
    margin-left: 3rem;
}

.chat-p {
    max-width: 65%;
    color: white;
    margin: 0;
    font-weight: '500';
    font-family: 'Dosis', sans-serif;
}

.open-img-new:hover {
    cursor: pointer;
}
.loca-loca{
    margin: 0;
    color:white;
    font-family: "Dosis",sans-serif;
    margin-bottom: 2rem;
}