.herohomepage {
    height: max-content;
    padding-bottom: 10rem;
}

.herohomepage-main {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
}
.herohomepage-for-m {
    display: none;
}

.activate-dis {
    display: none;
}

.deactivate-dis {
    display: block;
}

.herohomepage-first-txt h1 {
    color: var(--c1);
    font-family: "Dosis", sans-serif;
    font-size: 6rem;
    margin-top: 22rem
}

.herohomepage-first {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.herohomepage-second-img img {
    height: 50rem;
    width: 100%;
    margin-top: 10rem;
}

.herohomepage-second {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
    width: 50%;
}


.herohomepage-course-list {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
}

.herohero-flex {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.herohero-mobile {
    height: max-content;
    width: 100%;
    margin: 3rem 0;
}

.herohero-mobile-one img {
    /* height: 70%; */
    height: 59%;
    border-radius: 1rem 1rem 0 0;
    width: 35rem;
}

.reason img {
    display: none
}

.herohero-mobile-one {
    height: 40rem;
    width: 35rem;
    border-radius: 1rem;
    background-color: white;
    margin: 2rem;
    position: relative;
    left: 42.5rem;
    /* left: 62rem; */
    display: flex;
    justify-content: flex-start;
    place-items: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.4);
    flex-direction: column;
}

.herohero-mobile-cont h1 {
    text-align: center;
}
.join-tele a{
    width: 100%;
    padding:2rem;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: "Dosis";
    font-weight: 600;
    font-size: 4rem;
    color:white;
    background-color:var(--c2)
}
.join-tele h1{
    font-family: "Dosis";
    font-weight: 600 !important;
    padding: 2rem;
    font-size: 5rem !important;
}
.join-tele h2{
    font-family: Dosis;
    font-size: 4rem;
    font-weight: 500;
    padding:4rem 3rem;
    color: #28282B;
}
.join-tele{
    display: flex;
    justify-content: flex-start;
    place-items: center;
    flex-direction: column;
    width: 90%;
    margin:4rem auto;
    box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.4rem;
    padding-top: 4rem;
}
.herohero-mobile-cont {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: "Dosis";
    justify-content: center;
    place-items: center;
}
.herohomepage-adv {
    display: flex;
    align-items:center;
    padding: 2rem 3rem;
}
.herohomepage-adv h1{
    font-weight:600;
    padding:2rem;
    font-size: 2.2rem;
    font-family: "Dosis";
}
.herohomepage-adv-o {
    display: flex;
    align-items:center;
}
.herohomepage-adv-o img{
    height:3rem;
    width:3rem;
    border-radius:50rem;
    padding: 1rem;
    background-color: var(--c2);
}
.herohomepage-infos {
padding: 0rem 3rem;
}
.herohomepage-infos button:hover{
    cursor: pointer;
}
.herohomepage-infos button{
    margin: 2rem auto 1rem auto;
    font-family: "Dosis";
    font-size: 3rem;
    font-weight: 500;
    display: block;
    padding: 0.6rem 0rem;
    width: 100%;
    background-color: var(--c2);
    color:white;
    border-radius: 0.5rem;
}
.herohomepage-infos h1{
    font-family: "Dosis";
    font-size: 1.8rem;
    padding-top: 0.4rem;
}
.herohomepage-first-course{
    background-color: lightgray;
    border-radius: 1rem;
}
.herohomepage-first-course-img{
    height: 20rem;
    display: block;
    margin: 0 auto;
}