.herohomepage {
    height: max-content;
    padding-bottom: 10rem;
}

.herohomepage-main {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
}
.herohomepage-cbtwn ul li{
    font-family: "Dosis";
    margin-left: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color:rgb(43, 103, 43);
    margin-bottom: 1rem;
}
.herohomepage-cbtwn ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    place-items: flex-start;
    flex-direction: column;
    margin: 1rem 0;
}
.herohomepage-cbtwn {
    width:100%;
    padding-top: 4rem;
}
.herohomepage-cbtwn p{
    font-family: "Dosis";
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.herohomepage-cbtwn h6{
    font-family: "Dosis";
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.herohomepage-for-m {
    display: none;
}

.activate-dis {
    display: none;
}

.deactivate-dis {
    display: block;
}

.herohomepage-first-txt h1 {
    color: var(--c1);
    font-family: "Dosis", sans-serif;
    font-size: 6rem;
    margin-top: 22rem
}

.herohomepage-first {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.herohomepage-second-img img {
    height: 50rem;
    width: 100%;
    margin-top: 10rem;
}

.herohomepage-second {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
    width: 50%;
}

.herohomepage-first-course {
    display: flex;
    justify-content: center;
    place-items: center;
    width:46rem;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
}

.herohomepage-first-course h1 {
    font-family: "Dosis", sans-serif;
    padding: 2rem;
}

.herohomepage-first-course button:hover {
    cursor: pointer;
}

.herohomepage-first-course button {
    width: 100%;
    padding: 2rem;
    background-color: var(--s3);
    font-family: "Dosis", sans-serif;
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
}

.herohomepage-first-course img {
    height: 26rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.herohomepage-cbt-panel p{
    font-size:2rem;
    font-weight: 600;
    color:var(--c1);
    border-bottom: 1px solid grey;
}
.herohomepage-cbt-panel{
    display: flex;
    justify-content:center;
    place-items: center;
    flex-direction: column;
    gap:1rem;
    width:100%;
    margin: 0 auto;
}
.herohomepage-course-list h1 {
    font-family: "Dosis", sans-serif;
    font-weight: 100;
    border-bottom: 0.1rem solid var(--c2);
}
.herohomepage-course-list {
    margin-top: 10rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
    margin-left: 0rem;
}

.herohero-flex {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.herohero-mobile {
    height: max-content;
    width: 100%;
    margin: 3rem 0;
}

.herohero-mobile-one img {
    /* height: 70%; */
    height: 59%;
    border-radius: 1rem 1rem 0 0;
    width: 35rem;
}

.reason img {
    display: none
}

.herohero-mobile-one {
    height: 40rem;
    width: 35rem;
    border-radius: 1rem;
    background-color: white;
    margin: 2rem;
    position: relative;
    left: 42.5rem;
    /* left: 62rem; */
    display: flex;
    justify-content: flex-start;
    place-items: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.4);
    flex-direction: column;
}

.herohero-mobile-cont h1 {
    text-align: center;
}

.herohero-mobile-cont {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: "Dosis";
    justify-content: center;
    place-items: center;
}
.htdocs-1{
    padding:1rem 4rem;
    width:max-content;
    border-radius: 50rem;
    background-color:var(--s3);
    color:white;
    font-weight: 600;
    margin: 3rem auto;
}