.Thirdsection-cont{
    height:max-content;
    background-color:var(--s5);
    width:100%;
    padding:4rem 0;
}
.Thirdsec-heading {
    text-align: center
}
.Thirdsec-heading h1{
    font-size: 8rem;
    font-weight:200;
    display: inline-block;
    color:var(--c1);
    padding:1rem 5rem;
    font-family: "Dosis", sans-serif;
    margin-bottom: 2rem;
}
.Thirdsec-ques p{
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size:3rem;
    height:60%;
    text-align: center;
    border-radius:0 0 1rem 1rem;
    padding:2rem 1rem;
}
.Thirdsec-ques h1{
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    padding:2rem 0rem;
    font-size: 4rem;
    height:40%;
    width:100%;
    border-radius:1rem 1rem 0 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.1 );
}
.Thirdsec-ques{
    background-color:white;
    border-radius:1rem;
    text-align:left;
    color:black;
    box-shadow: 0 2px 3px 1px rgba(0,0,0, 0.2);
    width: 60rem;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    place-items: center;
    flex-direction: column;
}
.Thirdsec-con{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap:4rem
}
.review h1{
    font-family: "Dosis";
    text-align: center;
    padding: 2rem 0;
    font-size: 7rem;
    font-weight: 500;
}
.review{
    padding: 1rem 2rem;
    margin-bottom:4rem
}
.review-one::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.review-one{
    display: flex;
    overflow-x: scroll;
    height:100%;
    white-space: nowrap;
    gap:2rem;
    height:32rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.review-cont{
    padding:1rem 1.6rem;
    background-color:rgb(210, 210, 210);
    height:24rem;
    width:50rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
.review-cont-two {
    display:flex;
    justify-content:flex-start;
    place-items: center;
}
.review-cont-two h1{
    font-family: "Dosis", sans-serif;
    font-size: 4rem;
    font-weight: 400;
}
.review-cont-two h2{
    color:var(--c1);
    margin-left: 1rem;
    font-size: 3rem;
    position: relative;
    width:max-content;
}
.review-cont-two h2::before{
    content: attr(data-texts);
    position:absolute;
    color:gold;
    overflow: hidden;
    text-shadow: 0.2px 0.2px 0.4px black;
    width: 100%;
    white-space: nowrap;
}
.review-cont-threw h1{
    font-family: "Dosis", sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: left;
    color:black;
    padding-top: 2rem;
}