.payment-top{
    display:flex;
    justify-content:center;
    gap:3rem;
    background-color:darkcyan;
    width:90%;
    padding:2rem;
    margin:2rem auto;
    border-radius:0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    place-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.payment-top-one h1{
    font-family: "Dosis";
}
.payment-top-one{
    background-color:white;
    padding:1rem 2rem;
    border-radius: 0.6rem;
}
.payment-pay{
    background-color:darkcyan;
    height:65rem;
    overflow-y: scroll;
    border:10px solid white;
    border-radius:2rem;
    padding:0rem 4rem;
    box-sizing: border-box;
}
.pay-cont button:hover, .payment-btns button:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}
.pay-cont button{
    padding:1rem 6rem;
    margin-left: 2rem;
    border-radius:2rem;
    background-color:black;
    color:white;
    font-family: "Dosis",sans-serif;
    
}
.pay-cont{
    padding:1rem;
    background-color:white;
    border-radius:1rem;
    display: flex;
    justify-content: center;
    place-items:center;
    margin:2rem 0;
    gap:2rem;
    font-family: "Dosis",sans-serif;
}
.pay-id{
    display: flex;
    justify-content: center;
    place-items:center;
    flex-direction: column;
}
.payment-btns button{
    padding:1rem 6rem;
    margin-left: 2rem;
    border-radius:2rem;
    background-color:black;
    color:white;
    font-family: "Dosis",sans-serif;   
}
.payment-btns{
    display: flex;
    justify-content: center;
    place-items:center;
    gap:5rem;
}
.livstat h1{
    height:5rem;
    width:5rem;
    box-shadow: 0 0 2px 1px grey;
    border-radius:50rem;
}
.payment-top-one ul li{
    font-family: "Dosis";
    font-size: 2rem;
}
.payment-top-one ul{
    list-style: none;
}