.users{
    display:flex;
    justify-content: center;
    padding: 1rem 4rem;
    place-items: flex-start;
    flex-direction: column;
    gap:2rem
}
.users-enter img{
    border-radius: 50%;
    height:6rem;
    width:6rem;
}
.classplus:hover{
    cursor: pointer;
    transform: translateY(-0.4rem);
}
.classplus-s{
    font-family: "Dosis";
    font-weight: 600;
    font-size: 2.4rem;
    border-bottom: 3px solid green;
}
.classplus-del{
    color: red !important;
}
.classplus{
    font-family: "Dosis";
    transition: all 0.2s;
    font-size: 2rem;
    color: green;
    font-weight: 600;
    height:4rem;
    background-color:white;
    border:none;
    border-radius: 0.2rem;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.users-enter h2{
    font-weight: 600;
}
.act-btn button:hover{
cursor: pointer;
}
.form-cnt{
    width:20%;
    border:2px solid black;
    margin:0 4rem;
    border-radius: 1rem;
    font-family: Dosis;
    font-weight: 600;
    padding:1rem;
}
.act-btn {
    display: flex;
    justify-content: center;
    place-items: center;
    gap:1rem
}
.act-btn button{
    border-radius: 0.4rem;
    padding:1rem;
    background-color:black;
    color:white;
    font-family: "Dosis";
}
.users-enter h3{
    font-weight: 500;
    color: white;
    display: flex;
    place-items: center;
}
.users_complie{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.users-enter{
    background-color:blueviolet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    font-family:Dosis;
    place-items: center;
    font-size: 1.4rem;
    color:hsl(0 0% 100%/.9);
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.select-btn{
    padding:2rem 4rem;
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
}
.change_btn{
    font-weight: 600;
    font-family: Dosis;
}
.change_btn:hover{
    cursor: pointer;
}