.login-space-div-2 {
    height: 0.1rem;
    background: var(--s5);
}

.login-main {
    height: 100%;
    background: white;
    color: var(--c1);
    display: flex;
    justify-content:center;
    place-items:center;
    gap:15rem
}

.login-center {
    margin: 8rem 0;
    border-radius: 0.8rem;
    background: white;
    height: 50rem;
    width: 70rem;
    display: flex;
    border-radius: 0.8rem;
}

.login-center-left {
    background: var(--c2);
    width: 50%;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.login-center-right {
    background-color: var(--s1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.login-center-top button {
    cursor: pointer;
}

.login-center-top button {
    padding: 1rem 3rem;
    font-family: 'Dosis', sans-serif;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 0.2rem solid white;
    font-weight: 500;
    text-transform:lowercase;
    font-size: 2.4rem;
}

#login-btn {
    color: white;
    background-color:transparent;
    font-weight: 500;
    text-transform:lowercase;
    font-size: 2.4rem;
    font-family: "Dosis",sans-serif;
    border-bottom: 0.2rem solid gold;
}

.login-center-top {
    height: 14rem;
    width: 36rem;
    position: relative;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    right: 0.8rem;
    background: var(--c2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.login-center-middle h3 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    padding-top: 6rem;
    color:var(--c1);
    text-transform:lowercase;
    font-size: 2.4rem;
}

.login-center-middle {
    width: 100%;
    height: 30%;
    color: black;
}

.login-center-last {
    height: 40%;
}

.login-center-last form input {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.2rem solid black;
}

.login-submit:hover {
    cursor: pointer;
    color:var(--s2) !important;
}

.login-submit {
    width: 25rem;
    margin-top: 3rem;
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: var(--c2);
    border: none;
    padding: 1rem 3rem;
    border-radius: 1rem
}

.login-rocket svg {
    animation: upstream 2s ease-in-out infinite;
}

.login-rocket {
    height: 60%
}

.login-rocket h2 {
    position: relative;
    top: 0;

}

@keyframes upstream {

    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(0rem);

    }
}

.login-rocket-txt h2{
    font-weight: 200;
    font-size: 4rem;
}
.login-rocket-txt {
    position: relative;
    top: 0;
    margin-top: 2rem;
    margin-bottom: 20rem;
    font-family: 'Dosis', sans-serif;
    text-transform:lowercase;
    color:white;
    letter-spacing: 0.2rem;
    height: 30%;
}

.login-timer-txt {
    height: 10%
}

.login-forgot h3:hover {
    cursor: pointer;
}
.login-forgot{
    display: flex;
    justify-content: flex-end;
}
.login-forgot h3 {
    display: block;
    font-size: 1.4rem;
    font-family: "Dosis", sans-serif;
    color: black;
    width:max-content;
    margin-top:1rem;
    border-bottom: 0.1rem solid black;
}

.resend:hover {
    color: red;
    cursor: pointer;

}

.resend {
    color: black;
    margin-left: 2rem;
    text-transform: uppercase;
    border-bottom: 0.2rem solid black;
}

.login-resend:hover {
    color: red;
    cursor: pointer;
}

.login-resend {
    color: black;
    position: relative;
    margin-left: 1rem;
    text-transform: uppercase;
    border-bottom: 0.2rem solid black;
}
.login-img-bar img{
    height:30rem;
}
.login-img-bar h1{
    font-family: "Dosis", sans-serif;
    font-weight:400;
    font-size: 3.4rem;
    margin-bottom:8rem
}
/* ????? Mobile css ??????? */
.mob-login{
    display: flex;
    justify-content:space-between;
    place-items: center;
    flex-direction:column;
    background-color:white
}
.mob-login-vector {
    display: flex;
    justify-content:center;
    place-items: center;
    flex-direction:column;
}
.mob-login-vector h1{
    font-size:3.6rem;
    font-family: "Dosis", sans-serif;
}
.mob-login-vector img{
    height:50rem
}
.mob-login-form{
    display: flex;
    justify-content:center;
    place-items: center;
    flex-direction:column;
    margin-top:3rem;
    width:100%;
}
.mob-login-one{
    height:max-content;
    width:100%;
}
.mob-login-form input{
    margin-bottom: 2rem;
    padding:2rem;
    font-family: "Dosis",sans-serif;
    font-weight:600;
    width:80%;
    font-size: 2.6rem;
    border-radius: 0.4rem;
    border:2px solid grey
}
.mob-login-submit button{
    padding:2rem 26rem;
    margin-top: 0rem;
    color:white;
    font-family: "Dosis",sans-serif;
    font-weight: 500;
    border-radius:0.4rem;
    font-size:4rem;
    background-color:var(--s3)
}
.mob-login-cred h1{
    font-size:3rem;
    color:var(--s3)
}
.mob-login-cred h2{
    font-size:2.6rem;
    color:var(--c1)
}
.mob-login-cred{
    display: flex;
    justify-content:space-between;
    padding: 0 5rem;
    place-items: center;
}
.mob-forgot-btn2{
    margin-top:9rem !important
}
.mob-forgot-btn3{
    margin-top:18rem !important
}
.mob-forgot-btn, .mob-forgot-btn2, .mob-forgot-btn3{
    padding:2rem 28rem;
    margin-top: 28rem;
    color:white;
    font-family: "Dosis",sans-serif;
    font-weight: 500;
    border-radius:0.4rem;
    font-size:4rem;
    background-color:var(--s3)
}
.lelebhai{
    text-align:center;
    font-family: "Dosis";
    font-size:2.6rem
}
.mob-login-form a{
    font-size:2.6rem;
    font-family: "Dosis", sans-serif;
    font-weight:600;
    display:block;
    width:100%;
    text-align:right;
    margin-right: 12rem;
}
.mob-login-form form{
    width: 100%;
    display: flex;
    justify-content:center;
    place-items:center;
}
#signUpDivs, #signInDIVs{
    width: 80%;
    box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2);
    margin:4rem auto;
    border-radius:1rem
}
.mob-login-spl-btn{
    margin-top:6rem !important;
    padding:2rem 28rem !important;
}
.MOB-otp-exp a{
    font-family: "Dosis", sans-serif;
    font-size: 3rem;
    border-bottom: 1px solid black;
}
.MOB-otp-exp h3{
    font-family: "Dosis", sans-serif;
    font-size: 3rem;
}
.MOB-otp-exp{
    width: 90%;
    display:flex;
    margin:2rem 6rem;
    justify-content:space-between;
    place-items: center;
}
.MOB-otp, .mkijn{
    display:flex;
    justify-content:center;
    place-items: center;
    flex-direction:column;
    width: 100%;
}
.MOB-otp input{
    text-align:center;
    font-weight: 600;
    letter-spacing:1rem;
    font-family: 'Dosis', sans-serif;
    width: 90%;
    margin-top:10rem;
    padding:2rem 1rem;
    border-radius: 1rem;
    border:2px solid grey;
}
.MOB-Plogin-submit{
    width:94%;
    background-color:var(--s3);
    color:white;
    font-family: "Dosis", sans-serif;
    padding:2rem 0;
    border-radius:1rem;
    font-size: 3.6rem;
    font-weight: 600;
    margin-top:18rem
}
