.ref-admin button:hover{
    cursor: pointer;
}
.ref-admin button{
    padding: 2rem 8rem;
    background-color:var(--c2);
    color: white;
    border:none;
    border-radius:0.6rem;
    box-shadow: 0 0 18px 6px rgba(0, 0, 0, 0.3);
    font-family: 'DOsis';
    font-weight: 600;
    font-size: 3rem;
}
.ref-admin input{
    font-family: 'DOsis';
    font-weight: 500;
    border: 2px solid black;
    border-radius:1rem;
    padding: 2rem;
    font-size: 2rem;
}
.ref-admin, .ref-admin-load{
    flex-direction: column;
    display:flex;
    margin-top: 10rem;
    justify-content:center;
    align-items:center;
    gap:4rem;
}
.ref-admin-main h6{
    font-family: 'DOsis';
    font-weight: 600;
    font-size: 4rem;
    color: var(--c2);   
}
.ref-admin-main{
    flex-direction: column;
    display:flex;
    margin-top: 4rem;
    justify-content:center;
    align-items:center;
    /* gap:4rem; */
}
.ref-admin-flex h2{
    font-family: 'DOsis';
    font-weight: 600;
    font-size: 2.8rem;
}
.ref-admin-flex{
    display:flex;
    margin-top: 4rem;
    align-items:flex-start;
    gap:4rem;
}
.ref-admin-map h1{
    font-family: 'DOsis';
    font-weight: 600;
    font-size: 2rem;
    color: gray;
}
.ref-admin-map{
    display:flex;
    gap:3rem;
}
.ref-admin-main-scent{
    padding:2rem 3rem
}