.navbar-main {
    height: 10rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    place-items: center;
    transition: all 0.4s;
    z-index: 100;
    background-color: white;
}
#no-acc{
    color:black;
    font-family: "Dosis", sans-serif;
    font-size: 4rem;
}
.navbar-pehla {
    display: none;
    margin-left: 2rem;
    width: 15%;
}
#navbar-ham{
    font-size: 6rem;
    font-family: 'Roboto';
    width: 24rem;
    background: var(--s1);
    height: 24rem;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    place-items: center;
    text-transform: capitalize;
    margin: 6rem auto;
}
.menu-icos{
    height:5rem;
    width:5rem;
    padding:2rem;
    background-color:var(--s3);
    border-radius:50rem;
}
.navbar-sab ul{
    padding:4rem 2rem;
    width:100%;
    box-sizing: border-box;
}
.menu-bros a{
    margin-left: 3rem;
    font-family: "Dosis",sans-serif;
    font-size:3rem;
    font-weight: 500;
}
.menu-bros{
    display: flex;
    justify-content:center;
    place-items:center;
    
}
.navbar-sab ul li img{
    height:4rem;
    width:4rem;
}
.navbar-sab ul li {
    display: flex;
    justify-content:space-between;
    place-items:center;
    margin-bottom: 3rem;
    padding-right: 2rem;
}
#no-pfp-ham{
    height: 100%;
    border-radius:50%;
    display: flex;
    justify-content:center;
    place-items:center
}
.menu-blur{
    height:100vh;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0, 0.4);
    z-index: 999;
}
.navbar-sab {
    width:80%;
    height: 100%;
    position:fixed;
    top: 0;
    transition: all 0.4s;
    left: 0;
    background-color:var(--s1);
    z-index: 1000;
    overflow: hidden;
    box-shadow: 2px 0 4px rgba(0,0,0,0.4);
}
.menu-last img{
    height:6rem;
    width:6rem;
}
.menu-last{
    border-top:1px solid lightgray;
    width:100%;
    display: flex;
    justify-content:center;
    place-items: flex-start;
    padding-top:4rem;
    gap:10rem;
    margin-top:4rem
}
.menu-bhai{
    display: flex;
    height: 100%;
    justify-content:flex-start;
    place-items: center;
    flex-direction: column;
}
.navbar-men-one img{
    height:12rem !important;
    width:12rem !important;
    border-radius: 50rem;
    border:3px solid white;
}
.navbar-men-one h2{
    padding-left: 2rem;
    font-family:"Dosis", sans-serif;
    font-size:2.6rem;
    color:wheat
}
.navbar-men-one h1{
    padding-left: 2rem;
    color:white;
    font-family:"Dosis", sans-serif;
    font-size:3.6rem
}
.navbar-men-one{
    display: flex;
    justify-content:center;
    place-items: center
}
.navbar-menu-one img{
    height:4rem;
    width:4rem;
}
.navbar-menu-one{
    background-color:var(--s3);
    height:20rem;
    width:100%;
    display: flex;
    justify-content:space-between;
    padding:0 3rem;
    box-sizing: border-box;
    place-items: center;
}
.itemss{
    position: relative;
    z-index:1000 ;
}

.menu-shift{
    display: flex;
    justify-content:center;
    place-items: center
}
#pfp-ham{
    border-radius: 50%;
    width: 100%;
}
.navbar-first a:hover {
    cursor: pointer;
    color: var(--s2);
}

.navbar-first img {
    height: 3rem;
}
.navbar-first {
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-left: 4rem;
}

.navbar-first a {
    font-family: 'Dosis', cursive;
    margin: 4rem 2rem;
    justify-content: center;
    word-spacing: -0.1rem !important;
    color: var(--s3);
    font-size: 3rem;
    word-spacing: 1rem;
    width: 100%;
    transition: all 0.5s;
}

.navbar-second {
    height: 100%;
    width: 75%;
    display: flex;
}

.navbar-second ul {
    width: 100%;
    margin-right: 4rem;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    display: flex;
    transition: all 0.2s;
}

.navbar-second ul li a:hover {
    cursor: pointer;
    color: rgb(240, 123, 240) !important;
}

.navbar-second ul li:last-child a p{
    position: relative;
    bottom: 1rem;
}
.navbar-second ul li:last-child a img{
    height: 4rem;
}
.navbar-second ul li:last-child a {
    border: none !important;
    display: flex;
    flex-direction: row-reverse;
}
.navbar-cart img{
    height:5rem
}
.navbar-cart p{
    font-size:3rem;
    font-family: "Dosis", sans-serif;
    position: relative;
    bottom: 1.4rem;
}
.navbar-cart {
    display:flex;
    margin-right: 2rem;
    flex-direction: row-reverse;
}
.navbar-second ul li a {
    transition: all 0.2s;
    font-size: 1.6rem;
    padding: 1rem 0rem;
    margin: 0 2rem;
    border-bottom: 0.3rem solid var(--c2);
    position: relative;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-family: 'Righteous', sans-serif;
    transition: all 0.2s !important;
}


.navbar-third {
    display: flex;
    place-items: center;
}

.navbar-third-btn {
    transition: all 0.2s;
    font-family: 'Dosis', sans-serif;
    padding: 2rem 3rem;
    font-size: 2rem;
    background: var(--c2);
    border-radius: 1rem;
    color: black !important;
    border: 0.3rem solid var(--accent);
}

.navbar-third-btn:hover {
    cursor: pointer;
}

.valueforno:hover {
    transition: all 0.2s;
}

.valueforno:hover {
    background-color: gold !important;
    border-radius: 3rem;
}

#pfp:hover {
    opacity: 0.6 !important;
    cursor: pointer;
}

#pfp {
    border-radius: 1rem;
    width: 6rem;
    border: 0.4rem solid var(--s1);
}

#no-pfp:hover {
    cursor: pointer;
    background-color:var(--s3);
}

#no-pfp {
    text-transform: uppercase;
    border-radius: 1rem;
    height:6rem;
    background-color:var(--c2);
    width: 8rem;
    color: var(--s5);
    font-family: 'Roboto',sans-serif;
    display: flex;
    justify-content: center;
    place-items:center;
    font-size: 4rem;
}
.loading-io div{
    height:5rem;
    width:5rem;
}
.loading-io div{
    height:max-content;
    width:max-content;
    padding: 4rem;
    background-color:white;
    border-radius: 5rem;
}
#loader-display{
    display:none;
}
.loading-io h1{
    font-family: 'Inter';
    text-transform: uppercase;
    margin-top:5rem;
}
.loading-io{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: all 0.2s;
    background-color:black;
}
.bottom-menu{
    height:10rem;
    width:100%;
    position:absolute;
    z-index: 9;
    bottom: 0;
    background-color:var(--c2);
    display: flex;
    justify-content:center;
    gap:2rem;
    place-items: center;
}
.bottom-menu-center img{
    height:7rem;
    width:7rem;
}
.bottom-menu-center{
    display: flex;
    justify-content:center;
    place-items: center;
    height:10rem;
    background-color:white;
    border:3px solid var(--c2);
    width:10rem;
    border-radius: 50rem;
    transform: translateY(-3rem);
}
.bottom-menu-comman img{
    height:5rem;
    width:5rem;
}
.bottom-menu-comman h1{
    font-family: "Dosis";
    color:white
}
.bottom-menu-comman{
    display: flex;
    justify-content:center;
    place-items: center;
    height:7rem;
    flex-direction:column;
    width:11rem;
}