.privacy-main h1{
    font-family: "Righteous", sans-serif;
    font-weight:300;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing:-0.1rem;
    color:var(--c1)
}
.privacy-main{
    padding:6rem 0;
    background-color:white;
    text-align: center;
}
.privacy-two h3 {
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    padding:4rem 0;
    font-weight: 700;
    text-align: left;
    color:var(--c1)
}
.privacy-two h4 {
    color:var(--c1);
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    padding:4rem 0;
    font-weight: 400;
}
.privacy-two h1 {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    padding:4rem 0;
    text-transform: uppercase;
}
.privacy-two {
    padding:4rem 24rem;
}
.privacy-two p{
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size:2rem
}