.selection img{
    height: inherit;
    width: 100%;
}
.selection-quote h1{
    text-align: center;
    font-family: "Dosis";
    font-size: 6rem;
}
.selection-text h2{
    font-weight: 500;
}
.selection-text{
    display: flex;
    gap: 12rem;
    text-align: center;
    font-family: "Dosis";
    font-size: 2rem;
}
.selection-quote{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:6rem;
    padding: 3rem 0 6rem 0;
    margin-top: 6rem;
    background-color: var(--c2);
    color: white;
}
.selection-text{
    display: flex;
}