.form-main button:hover{
    cursor: pointer;
}
.form-main button{
    margin: 0 auto;
    display: block;
    margin-top:6rem;
    background-color: var(--c2);
    color: white;
    padding:3rem 4rem;
    width: 90%;
    border-radius: 1rem;
    font-family: "Dosis";
    font-weight: 700;
    font-size: 4rem;
    box-shadow: 0 0 14px 4px rgba(0, 0, 255, 0.3);
}
.form-main h4{
    font-family: "Dosis";
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.form-input h1{
    font-weight: 600;
    font-family: "Dosis";
    font-size: 3.4rem;
    color: white;
}
.form-input{
    background-color: 	#0F52BA;
    margin-top: 2rem;
    padding:2rem 3rem
}
.form-input-ans span{
    height: 2rem;
    width: 2rem;
    background-color:black;
}
.form-input-ans h2{
    font-weight: 600;
    font-family: "Dosis";
    font-size: 3rem;
    color:white;
    font-weight: 600;
}
.form-input-ans input{
    font-family: "Dosis";
    border: 1px solid black;
    border-radius:1rem;
    padding: 1rem;
    font-weight: 600;
}
.form-input-ans{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 3rem;
    gap:3rem;
    flex-wrap: wrap;
}