.card-flex h1:hover {
    cursor: pointer;
}
.card-flex h1 {
    color:var(--c1);
    letter-spacing:0.1rem;
    font-family: "DM Sans", sans-serif;
    font-size: 3.2rem;
    border:none !important;
    padding:2rem 1rem !important;
    margin:0 !important;
}
.card-flex{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    place-items:center;
}




/* ////////////////////////////////////////////////////////////////////////// */

#loader-load1, #loader-load2, #loader-load3, #loader-load4, #loader-load5, #loader-load6, #loader-load7, #loader-load8, #loader-load9,#loader-load10,#loader-load11,#loader-load12{
    height: 20rem;
    width: 18rem;
    background: var(--s5);
    overflow: hidden;
    animation:redness 2s linear infinite;
}
.loader-load{
    height: 20rem;
    width: 18rem;
    overflow: hidden;
    background-color: var(--s5);
}
.load-mid{
    height: 30rem;
    position: relative;
    box-shadow:0 0 1.5rem 1.5rem var(--s1);
    left: 7.4rem;
    width: 0.6rem;
    background: transparent;
    transform:rotate(42deg);
    animation: loading 0.4s infinite;
}
@keyframes loading {
    from {top:-24.5rem}
    to {top:24.5rem}
}
.bugasuga{
    font-family: "Dosis";
    text-align: center;
    padding:4rem 0;
    font-size:6rem
}