.player-cont {
    height: calc(100% - 10rem);
    padding-top: 10rem;
    width: 100%;
    display: flex;
    place-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    background-color:#343434
}
.player-one h1{
    border-bottom: 0.2rem solid white;
    margin:4rem 3rem;
    padding-bottom:0.6rem;
    color:hsl(0 0% 100% /0.65);
    font-size: 2rem;
    font-family: "DM Sans";
}
.player-ones h1{
    width:max-content;
    margin:0rem auto;
    padding-bottom:0.4rem;
    font-weight: 500;
    color:var(--s3) !important;
    font-size: 5rem;
    font-family: "DM Sans";
}
.player-one{
    height:max-content;
    width:100%;
}
.player-bottom::-webkit-scrollbar { 
    display: none;
}
.soros{
    height:10rem;
    width:100%;
}
.player-bottom {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.player-bottom{
    height: 100%;
    width: 70%;
    overflow-y: scroll;
    flex-direction: column;
}
.player-top h1{
    font-family: "DM Sans";
    font-size: 3rem;
    color:hsl(0 0% 100% /0.7);
    font-weight: 600;
    padding:2rem 3rem;
}
.player-top{
    width: 100%;
}
.player{
    background-color:black;
    width: 100%;
}