.videopage-gap {
    height: 10rem;
    background: var(--s5);
    width: 100%;
}
.videopage-material{
    display: flex;
    justify-content:center;
    place-items:center;
    background-color: var(--s3);
}
.mat-text h1{
    font-family: "Dosis",sans-serif;
    font-weight:600;
    padding:0 2rem 2rem 2rem;
    font-size: 4rem !important;
}
.videopage-mat-one:hover{
    cursor: pointer;
}

.videopage-mat-one{
    display : flex;
    justify-content:center;
    place-items:center;
    transition:all 0.2s;
    gap: 2rem;
    padding: 4rem 4rem 0 4rem;
}
.material-main{
    background-color:var(--s5);
}




.material-head h1{
    padding: 3rem;
    font-size:4rem;
    font-weight: 600;
    font-family: 'Dosis';
}
.material-head{
    width:100%;
    gap:2rem;
    display: flex;
    justify-content:center;
    place-items:center;
    margin-top: 6rem;
    background-color:var(--s3);
    box-sizing: border-box;
}
.material-body{
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    background-color:white;
    width:95%;
    margin: 0 auto;
    padding:6rem 4rem;
    display : flex;
    box-sizing: border-box;
    justify-content: center;
    place-items:center;
    gap: 4rem;
    flex-wrap: wrap;
    animation:redness 2s linear infinite;
}
.mat-two{
    width:6rem;
    margin: 2rem 0;
}
.mat-one h2{
    text-transform: uppercase;
    font-family: "Righteous", sans-serif;
    font-weight:200;
    margin:1rem 0;
}
.mat-one h1{
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight:700;
    font-size: 4rem;
    padding:2rem 0;
    margin-bottom:1rem
}
.mat-one button:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}
.mat-one button{
    padding:1.4rem 2rem;
    font-family: "Righteous", sans-serif;
    background-color: white;
    color:var(--s3);
    transition: all 0.2s;
    width:90%;
    border-radius:0.6rem
}
.mat-one{
    padding:2rem 1rem;
    min-width: 25rem;
    color:white;
    background-color:var(--s3);
    display : flex;
    justify-content: center;
    place-items:center;
    flex-direction: column;
    border-radius: 0.4rem;
    box-shadow: 0 2px 3px 1px rgba(0,0,0, 0.4);
}

.last-watched h1{
    font-size:3.2rem;
    letter-spacing:0.1rem;
    color:black;
    font-weight: 700;
}
.last-watched h2{
    color:green;
    font-size:2.8rem;
    letter-spacing:0.1rem;
    padding-top:1rem;
    font-weight: 700;
}
.last-watched{
    width: max-content;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    font-family: "Dosis", sans-serif;
    margin: 6rem auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.priv-access h1{
    font-family: "DM Sans";
    font-weight: 600;
    font-size: 4rem;
}
.priv-access img{
    transition: all 0.2s;
}
.priv-access img:hover{
    cursor: pointer;
    transform: translateY(-4rem)
}
.priv-access{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    place-items:center;
    flex-direction: column;
    gap:4rem
}