.videopage-gap {
    height: 10rem;
    background: var(--s5);
    width: 100%;
}

.videopage-main {
    background: var(--s5);
}
.videopage-main-cont  {
    background: var(--s5)
}
.videopage-main-cont p {
    text-align: center;
    margin-top: 4rem;
    padding-top:2rem;
    font-size:4rem;
    font-family: 'Righteous Condensed', sans-serif;

}
.videopage-main-cont h3{
    padding-bottom:2rem;
    padding-top:1rem;
    text-align: center;
    font-family: 'Righteous Condensed', sans-serif;

}

.videopage-second {
    background-color: var(--s5);
}
.videopage-sec,.videopage-sec1{
    background-color: var(--s5) !important;
}
.videopage-head{
    background-color:white;
    color :var(--c1);
    font-size:5rem;
    padding: 3rem 8rem;
    width:85%;
    box-sizing: border-box;
    text-align: center;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    margin: 0rem auto 0 auto;
    font-family: 'Dosis', sans-serif;
}
.card-two a img{
    height: 12rem;
}
.videopage-sec-enter{
    background-color:var(--s1);
    padding:6rem 0rem;
    display: flex;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius:1rem;
    margin: 0 auto;
    box-sizing: border-box;
    gap:5rem;
    justify-content: center;
    place-items:center;
    flex-wrap: wrap;
    flex: 45rem;
}

.videopage-info{
    background-color: var(--s);
}

.videopage-info h1{
    color: black;
    font-size:5rem;
    font-family: "Dosis", sans-serif;
    text-align: center;  
    padding:6rem 1rem 10rem 1rem;
    font-weight: 600;
}

.videopage-info ul{
    list-style: none;
    display : flex;
    width:max-content;
    margin:2rem auto;
    gap: 2rem;  
    font-size:3.4rem;
    font-family: "Dosis", sans-serif;
    text-align: center;
    padding-bottom: 5rem; 
    padding-top: 4rem; 
}
.videopage-material{
    height:10rem;
    display: flex;
    justify-content:center;
    place-items:center;
    gap: 2rem;
    color:var(--s4);
}
.mat-text h1{
    font-family: "Dosis",sans-serif;
    font-weight:700;
    font-size:2.6rem;
    color:white;
}
.videopage-mat-one:hover{
    cursor: pointer;
}
#mat-two{
    transform: translateY(-10px);
}
.plokid{
    transform: translateY(-10px)
}
.ploki{
    border-top:2px solid var(--borderTop2)
}
.ploko{
    border-top:2px solid var(--borderTop1)
}
.videopage-mat-one{
    display : flex;
    justify-content:center;
    place-items:center;
    transition:all 0.2s;
    gap: 2rem;
    background-color:var(--s3);
    padding: 2rem 4rem;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
}
.material-main{
    background-color:var(--s5);
}
.material-head{
    text-align:center;
    text-transform:uppercase;
    width:80%;
    margin: 12rem auto 0 auto;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    background-color:white;
    padding: 2rem;
    font-size: 2.6rem;
    font-family: "Righteous", sans-serif;
    box-sizing: border-box;
}
.material-body{
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    background-color:white;
    width:95%;
    margin: 0 auto;
    padding:6rem 4rem;
    display : flex;
    box-sizing: border-box;
    justify-content: center;
    place-items:center;
    gap: 4rem;
    flex-wrap: wrap;
    animation:redness 2s linear infinite;
}
.mat-two{
    width:6rem;
    margin: 2rem 0;
}
.mat-one h2{
    text-transform: uppercase;
    font-family: "Righteous", sans-serif;
    font-weight:200;
    margin:1rem 0;
}
.mat-one h1{
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight:700;
    font-size: 4rem;
    padding:2rem 0;
    margin-bottom:1rem
}
.mat-one button:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}
.mat-one button{
    padding:1.4rem 2rem;
    font-family: "Righteous", sans-serif;
    background-color: white;
    color:var(--s3);
    transition: all 0.2s;
    width:90%;
    border-radius:0.6rem
}
.mat-one{
    padding:2rem 1rem;
    min-width: 25rem;
    color:white;
    background-color:var(--s3);
    display : flex;
    justify-content: center;
    place-items:center;
    flex-direction: column;
    border-radius: 0.4rem;
    box-shadow: 0 2px 3px 1px rgba(0,0,0, 0.4);
}

.last-watched h1{
    font-size:3.2rem;
    letter-spacing:0.1rem;
    color:black;
    font-weight: 700;
}
.last-watched h2{
    color:green;
    font-size:2.8rem;
    letter-spacing:0.1rem;
    padding-top:1rem;
    font-weight: 700;
}
.last-watched{
    width: max-content;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    font-family: "Dosis", sans-serif;
    margin: 6rem auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.priv-access h1{
    font-family: "DM Sans";
    font-weight: 600;
    font-size: 4rem;
}
.priv-access img{
    transition: all 0.2s;
}
.priv-access img:hover{
    cursor: pointer;
    transform: translateY(-4rem)
}
.priv-access{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    place-items:center;
    flex-direction: column;
    gap:4rem
}