
.key-cont input{
    padding:1rem;
    border-radius: 5rem;  
    width:40rem  
}
.key-cont button:hover{
    cursor: pointer;
}
#real21:hover{
    cursor: pointer;
}
.key-cont button{
    margin-top: 2rem;
    border-radius: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:greenyellow;
    color:black;
    padding:1rem 4rem;
    margin-bottom: 20rem;
}
.graph-update button:hover{
    cursor: pointer;
}
.graph-update button{
    padding: 0.4rem;
    border:2px solid black;
    background-color:black;
    color:white;
    font-family: "Dosis",sans-serif;
}
.graph-update input{
    border:2px solid black;
    padding:0.4rem;
    font-family: "Dosis", sans-serif !important;
}
.key-cont{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content:center;
    place-items: center;
    flex-direction: column;
    height:100vh
}
.dash-main{
    background-color:lightgray;
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding:2rem
}
.dash-one{
    display:flex;
    justify-content:center;
    place-items:center;
    gap:4rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
.dash-cont{
    height:max-content;
    width:max-content;
    padding:1rem 2rem;
    font-family: "Dosis", sans-serif;
    font-size:1.4rem;
    background-color:white;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 2px rgba(0,0,0, 0.4)
}