.refral-one h1{
    font-family: "Dosis", sans-serif;
    font-size:6rem;
    font-weight: 300;
    text-align: center;
    margin-top:2rem
}
.ref-msg span{
    font-size: 4rem;
}
.ref-msg{
    background-color: red;
    color:white;
    font-family: "DM Sans";
    text-align: center;
    margin:4rem 0;
    padding:4rem 0;
    width:100%;
    font-size: 6rem;
}
.refral-two{
    width: 90%;
    margin:4rem auto;
    padding:2rem 1rem;
    border-radius: 0.6rem;
    display:flex;
    justify-content:center;
    place-items:center;
    background-color:var(--s1);
    gap:8rem;
    flex-wrap: wrap;
}
.refral-two-one h1, .refral-two-two h1{
    font-family: "Dosis", sans-serif;
    font-size:3rem;
    font-weight: 300;
}
.refral-two-one, .refral-two-two {
    display:flex;
    justify-content:center;
    place-items:center;
    flex-direction:column;
}
.refral-three{
    display:flex;
    justify-content:center;
    place-items:center;
    flex-direction:column;
}
.refral-three-one {
    display:flex;
    justify-content:center;
    place-items:center;
    flex-direction:column;
    gap:1rem
}
.refral-three-one button:hover, .refral-three-bone button:hover{
    cursor: pointer;
    background-color:var(--c2)
}
.refral-three-one button{
    padding:1rem 3rem;
    background-color:var(--s3);
    color:white;
    font-family: "Dosis", sans-serif;
    font-size:2rem;
    border-radius: 0.6rem;
}
.refral-three-one h1{
    font-family: "Dosis", sans-serif;
    font-size:3rem;
    font-weight: 300;
}
.refral-three-bone button{
    padding:1rem 2rem;
    background-color:var(--s3);
    color:white;
    font-family: "Dosis", sans-serif;
    font-size:1.8rem;
    border-radius: 0.6rem;
}
.refral-three-bone {
    background-color: var(--s1);
    padding:2rem;
    display:flex;
    justify-content:flex-end;
    place-items:center;
    flex-direction: column;
    gap:2rem;
    border-radius: 0.6rem;
}
.refral-three-bone h1{
    font-family: "Dosis", sans-serif;
    font-size:2srem;
    font-weight: 400;
}
.refral-three-two {
    background-color: var(--s1);
    width: 90%;
    margin: 4rem auto;
    border-radius: 0.6rem;
    padding: 2rem
}
.refral-three-two h2{
    font-family: "Dosis", sans-serif;
    font-size:3rem;
    font-weight: 300;
    text-align: center;
}
.refral-three-two-one h3{
    font-family: "Dosis", sans-serif;
    font-size:2rem;
    font-weight: 300;
}
.refral-three-two-one h1{
    font-family: "Dosis", sans-serif;
    font-size:2rem;
    font-weight: 300;
}
.refral-three-two-one{
    width: 60%;
    background-color: white;
    padding:1rem;
    border-radius: 0.6rem;
    margin: 2rem auto;
}
.refral-special{
    display:flex;
    justify-content:flex-end;
    place-items:center;
    gap:4rem;
}
.refral-four h1{
    font-family: "Dosis", sans-serif;
    font-size:6rem;
    font-weight:100;
    text-align: center;
    margin:3rem 0
}
.refral-copy:hover{
    cursor: pointer;
    background-color:var(--c2)
}
.refral-copy{
    font-size: 1.2rem;
    font-weight:400;
    background-color: var(--s3);
    color:white;
    width:5rem;
    padding:0.4rem;
    border-radius: 0.4rem;
    position:relative;
    bottom:2.8rem;
}
.refral-upi span{
    font-weight:400;
    font-size:1.4rem;
    font-family: "Dosis", sans-serif;
}
.refral-upi input{
    border:0.2rem solid var(--c1);
    border-radius: 0.4rem;
    padding:0.6rem
}
.refral-upi{
    gap:1rem;
    display:flex;
    justify-content:center;
    place-items:center;
}
.refral-special-two{
    background-color: var(--s1);
    width: 80%;
    margin: 5rem auto;
    border-radius: 0.6rem;
    padding:2rem;
}
.refral-special-t-t h1{
    font-family: "Dosis", sans-serif;
    font-size:2rem;
    text-align: center;
    margin-top: 2rem
}
.refral-four h2{
    padding:1rem 6rem;
    font-family: "Dosis",sans-serif;
    font-size: 3rem;
    font-weight: 400;
}