.blog-main{
    background-color: white;
    height:100rem;
}
.blog-one h2{
    font-weight: 600;
    text-align: center;
    font-size:5rem;
    padding-top: 2rem;
    color: var(--c1);
}
.blog-one h1{
    font-weight: 600;
    text-align: center;
    font-size:6rem;
    padding-top: 4rem;
}
.blog-one{
    font-family: 'Dosis', sans-serif;
}
.blog-content h1{
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    word-wrap: wrap;
    text-align: left;
    padding: 2rem;
    line-height: 2.4
}
.blog-content img{
    height:40rem;
    width:50%;
    margin:2rem auto;
    display:block;
}
