.support-gap{
    height:5rem;
}
.support-one h1{
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing:0.2rem;
    color: var(--c1);
    padding-top:5rem;
    word-spacing: 0.6rem;
    padding-bottom:1rem
}
.support-change{
    display:flex;
    justify-content: center;
    margin-top:4rem !important;
    gap: 2rem ;
    background-color:var(--s1);
    width:60%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0 auto;
}
.spl-btn:hover{
    cursor: pointer;
}
.spl-btn{
    margin: 2rem;
    padding: 2rem 4rem;
    border-radius: 1rem;
    font-family: "Dosis", sans-serif;
    font-weight:400;
    border-bottom:0.4rem solid darkturquoise;
    color: white;
    font-size:2rem;
    text-transform: lowercase;
    background-color:var(--c2);
}
.forum-one h1{
    font-family: "Inter", sans-serif;
}
.forum-gap{
    background-color:white;
    height:4rem
}
.forum-main{
    background-color: var(--s1) !important;
    height:max-content;
    width:60%;
    margin: 0 auto;
}
.forum-dis{
    height:max-content;
    width:60%;
    margin: 0 auto;
    background-color:var(--s5);
    padding:2rem;
    border-radius: 1rem;
    text-align:center;
}
.forum-head h1{
    font-family: "Dosis", sans-serif;
    text-align: center;
    padding:1rem;
    font-weight: 300;
    text-transform: lowercase;
    color:var(--c1);
    font-size:4rem;
    background-color:var(--s1);
}
.forum-dis textarea{
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.forum-dis input{
    width:80%;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.forum-dis p{
    padding-top:2rem;
    padding-bottom:1rem;
    font-family: "Dosis", sans-serif;
    font-size:2.6rem;
    color: var(--c1);
}
.forum-dis button:hover {
    background-color:var(--s5);
    color:var(--s1);
    cursor: pointer;
}
.forum-dis button {
    margin:4rem 0 2rem 0;
    transition: all 0.2s;
    border-radius: 0.4rem;
    padding:1.4rem 8rem;
    background-color:var(--c2);
    color:var(--s5);
    text-align:right;
    text-transform:uppercase;
    font-family: "Righteous", sans-serif;
}
.answer-main{
    height:max-content;
    background-color:white;
    width:60%;
    margin:0 auto
}
.answer-box{
    width:100%;
    margin:0 auto;
    height:max-content;
    border-radius: 1rem;
    background-color:var(--s5)
}
.answer-one h2{
    text-align: center;
    font-weight:300;
    font-family: "Dosis", sans-serif;
    padding:2rem;
    font-size:3rem;
    color:var(--c1);
    margin-bottom: 2rem;
}
.query-main{
    background-color:var(--s1);
    padding:1rem;
    font-size: 1.5rem;
}
.query-one {
    height: 44rem;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 2rem 1rem;
    margin-top: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color:white;
    transition: all 0.4s
}
.query-one h1{
    font-size: 2rem;
    display:flex;
    letter-spacing:0.1rem;
    justify-content:center;
    place-items:center;
    margin-bottom:1rem;
    color: white;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.query-two h2{
    margin-bottom:1rem;
    font-family: "Inter", sans-serif;
    font-size:1.8rem;
}
.query-date{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.query-chat input{
    height: 100%;
    box-sizing: border-box;
    width: 80%;
    font-family: "Dosis", sans-serif;
    border-bottom: 2px solid black;
    padding:1rem
}
.query-chat button:hover{
    cursor: pointer;
}
.query-chat button{
    padding:1rem;
    width: 10%;
    border-radius: 0 1rem 1rem 0;
    height: 100%;
    color:white;
    font-family: "Dosis",sans-serif;
    background-color: var(--s3);
}
.senda, .pins{
    height:4rem;
    width:4rem;
}
.query-chat{
    display:flex;
    justify-content:space-around;
    place-items: center;
    padding: 1rem 0 1rem 0;
    background-color:white
}
.tortor{
    background-color: white;
    transition: all 0.4s;
    padding: 1rem 2rem;
    color: var(--c2);
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: "Dosis", sans-serif;
}
#downsvg{
    position: relative;
    bottom:2rem;
    right:3rem;
    border-radius: 1rem;
    background-color: white;
    padding: 0.4rem 0.2rem;
}
#downsvg:hover{
    cursor: pointer;
}
.chat-img{
    height:5rem;
    width:5rem;
    border-radius: 5rem;
}
.chat-imgi{
    height:2rem;
    width:2rem;
    padding: 0.6rem;
    background-color: white;
    border-radius: 5rem;
}
.nvamsg{
    border-radius: 1rem;
    background-color: white;
    color: red;
    padding: 1rem;
    font-family: 'Dosis';
}
.chat-img:hover{
    cursor: pointer;
}
.item{
    height: 100%;
    position: relative;
}
#send-img{
    background:black;
    position: relative;
    transition: all 0.4s;
    overflow: hidden !important;
    display: flex;
    justify-content:center;
}
.img-cont img{
    height:4rem;
    width:4rem;
}
.lkjhg{
    height:50rem !important
}
.img-cont {
    display: flex;
    justify-content:space-around;
    place-items: center;
    padding:2rem 1rem;
    position: relative;
    bottom: 10rem;
    transition: all 0.4s;
    border-radius:0.2rem;
    width: 80%;
    background-color: var(--s3);
    margin: 0 auto;

}
.img-cont form button:hover{
    cursor: pointer;
    background-color:var(--s3);
    color:white;
}
.img-cont form button{
    font-family: 'Dosis', sans-serif;
    padding:1rem 2rem;
    font-weight: 600;
    border:2px solid black;
    border-radius: 1rem;
}
.img-cont form input{
    font-family:'Dosis', sans-serif;
    font-weight: 600;
    color:white
}
.chat-user{
    background-color: rgba(14, 45, 77, 0.85);
    border-radius: 1rem 1rem 0 1rem;
}
.chat-vikas{
    border-radius: 1rem 1rem 1rem 0rem;
    background-color: rgba(97, 33, 53, 0.85);
     margin-left: 3rem;
}
.chat-p{
    max-width: 65%;
    color:white;
    margin-right: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.open-img-new:hover{
    cursor: pointer;
}

.splicos{
    font-family: 'Dosis';
    text-align: center;
    color: black;
    border-radius: 1rem;
    margin: 0 auto;
    width: 70%;
    padding: 1rem;
    background-color: white;
}
.forum-display{
    padding-bottom: 2rem;
}
#send-img img:hover {
    cursor: pointer;
}
#send-img img {
    height:2rem;
    width:2rem;
    margin-left:12rem
}
.query-date-manage{
    display:flex;
    justify-content:center;
    place-items: center;
    gap:1rem;
    margin-bottom: 2rem;
    font-family: "Dosis";
}
.chat-date{
    color:black;
    border-bottom: 2px solid black;
    padding:0.4rem 2rem;
    font-size:1.8rem;
    width:max-content;
    margin: 2rem auto;
    font-family: "Dosis", sans-serif;
}
/* ///////////////////////////////////////mobile//////////////////// */
.MOB-support-main{
    background-color:white;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    padding:0;
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.support-c0 img{
    height:4rem;
    width:4rem;
    border-radius:50rem;
    padding:1rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    background-color: white !important;
    z-index: 22;
}
.MOB-support-change{
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 2rem 1rem;
}
.MOB-spl-btn {
    padding: 2rem 4rem;
    border-radius: 1rem;
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 3rem;
}
.MOB-forum-head h1 {
    font-family: "Dosis", sans-serif;
    text-align: center;
    padding: 1rem;
    font-weight: 700;
    color: var(--c1);
    width: 100%;
    font-size: 8rem;
    background-color: var(--s1);
}
.MOB-forum-dis{
    margin: 0 auto;
    background-color: var(--s5);
    padding: 2rem;
    height:100%;
    border-radius: 1rem;
    text-align: center;
}
.MOB-forum-dis textarea{
    font-family: 'Dosis', sans-serif;
    width:80% !important;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.MOB-forum-dis input{
    width:80%;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.MOB-forum-dis p{
    padding-top:2rem;
    padding-bottom:1rem;
    font-family: "Dosis", sans-serif;
    font-size:5rem;
    font-weight: 500;
    color: var(--c1);
}
.MOB-forum-dis button:hover {
    background-color:var(--s5);
    color:var(--s1);
    cursor: pointer;
}
.MOB-forum-dis button {
    margin:4rem 0 2rem 0;
    transition: all 0.2s;
    border-radius: 0.4rem;
    padding:3rem 28rem;
    background-color:var(--c2);
    color:var(--s5);
    text-align:right;
    text-transform:uppercase;
    font-family: "Righteous", sans-serif;
}
.MOB-forum-main {
    background-color: var(--s1);
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.MOB-forum-manage{
    display: flex;
    justify-content:space-between;
    height: 100%;
    width: 100%;
    place-items: center;
    flex-direction: column;
}
.answer-sec{
    display: flex;
    justify-content:center;
    place-items: center;
    flex-direction: column;
    gap:2rem
}
.MOB-forum-cont{
    height: 100%;
}
.MOB-answer-one h2 {
    text-align: center;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    padding: 2rem;
    font-size: 6rem;
    width:100%;
    color: var(--c1);
    margin-bottom: 2rem;
}
.MOB-chat-list-cont{
    width: 82%;
    margin: 4rem auto;
    display:flex;
    gap:4rem;
    justify-content:center;
    place-items: center;
    flex-direction: column;
}
.MOB-chat-list{
    background-color: var(--s1);
    padding:2rem 4rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    display:flex;
    justify-content:space-between;
    border-radius: 1rem;
    place-items: center;
}
.MOB-chat-list-pimp{
    display:flex;
    justify-content:center;
    gap:10rem;
    place-items: center;
}
.MOB-chat-list-child{
    display:flex;
    justify-content:flex-start;
    place-items: flex-start;
    gap:1rem;
    flex-direction: column;
    height: 100%;
    font-family:"Dosis",sans-serif;
}
.MOB-chat-list button{
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3);
    padding:1.4rem 4rem;
    background-color:var(--s3);
    color:white;
    border-radius: 0.5rem;
}
.MOB-chat-list-child h1{
    font-size: 3.6rem;
}
.MOB-chat-list-child h2{
    font-size: 2.4rem;
    color: var(--c1)
}
.MOB-query-main{
    position: absolute;
    bottom: 0;
    height: 100%;
    font-size: 2.4rem;
}
.MOB-answer-main {
    height: 100%;
    background-color: white;
    width: 100%;
}
.MOB-query-one {
    height: 70%;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top:10rem;
    margin-top: 1rem;
    background-color: white;
    transition: all 0.4s;
}
.query-logo-simp h1{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding-bottom: 0.5rem;
    font-size: 4rem;
}
.query-logo-simp{
    margin-right: 0.8rem;
    margin-top: 1rem;
    background-color: var(--c2);
    color: white;
    border-radius: 50rem;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    place-items: center;
}
.MOB-query-last{
    position:fixed;
    bottom: 13rem;
    border:0.4rem solid black;
    width: 90%;
    margin: 2rem 3rem;
    flex-wrap: nowrap;
    border-radius: 50rem;
}
.MOB-query-chat {
    display: flex;
    justify-content: center;
    place-items: center;
}
.MOB-query-chat input{
    height: 100%;
    box-sizing: border-box;
    width: 80%;
    font-weight: 500;
    font-size:3.4rem;
    font-family: "Dosis", sans-serif;
    padding:2rem 3rem;
    outline:none;
    border: none;
    text-decoration: none !important;
}
.MOB-senda{
    width:8%;
    margin-right:2rem;
}
.MOB-query-chat{
    display:flex;
    justify-content:center;
    place-items: center;
    background-color:white;
    border-radius:50rem
}
.MOB-img-cont {
    display: flex;
    justify-content:center;
    place-items: center;
    padding:1rem 0rem;
    width: 100%;
    height:100%;
    margin: 0rem auto;
    gap:30rem;
    flex-direction: column;
    background:transparent !important;
}
.MOB-img-cont form button{
    font-family: 'Dosis', sans-serif;
    padding:1rem 2rem;
    width:100%;
    font-weight: 600;
    font-size:5rem;
    border:2px solid black;
    border-radius: 1rem;
}
.MOB-img-cont form{
    display: flex;
    justify-content:center;
    place-items: center;
    gap:2rem;
    flex-direction: column;
}
.MOB-img-cont form input{
    font-family:'Dosis', sans-serif;
    font-weight: 600;
    font-size:3rem;
    color:white
}
.MOB-img-cont img{
    width:8rem !important;
    height:8rem !important;
}
.MOB-pins{
    width:8%;
    margin-left: 2rem;
    background-color:white
}
.MOB-img-upload{
    position:absolute;
    bottom: 0;
    left:-100rem;
    height:100vh;
    width:100vw;
    z-index: 9999;
    background-color:rgba(0, 0, 0, 0.75);
    transition: all 0.2s;
    overflow: hidden;
    display: flex;
    justify-content:center;
    place-items: center;
}