.AH-one h3 {
    font-family: Dosis;
    padding: 0rem 0 5rem 6rem;
    text-align: left;
    width: 100%;
    font-weight: 500;
    color: rgb(49, 49, 49);
    font-size: 2.4rem;
}

.AH-one h2 {
    font-family: Dosis;
    padding: 2rem 0 0rem 6rem;
    text-align: left;
    width: 100%;
    font-size: 6rem;
}

.AH-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AH-one-cont {
    height: 80px;
    padding: 1rem 4rem 1rem 4rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.AH-one-cont-element:hover {
    cursor: pointer;
}
.AH-one-cont-element img {
    height: 40px;
    width: 40px;
}

.pcm-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.AH-one-cont-element h6 {
    height: 2rem;
    width: 2rem;
    background-color: red;
    animation: dot 1s ease-in-out infinite;
    border-radius: 50rem;
    position: relative;
    left:3rem;
    bottom:1rem;
}

@keyframes dot {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.AH-one-cont-element h1 {
    font-size: 2.6rem;
    font-weight: 600;
    font-family: "Dosis";
}

.AH-one-cont-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.stat-main h1 {
    font-size: 3.6rem;
    font-weight: 600;
    font-family: "Dosis";
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.stat-main {
    width: 100%;
    margin-top: 4rem;
}


/* ////////////////////////////// */
.task-one h2{
    font-family: 'Dosis';
    text-align: center;
    font-size: 4rem;
    margin-top:3rem
}
.task-one {
    width: 100%;
}

.taskbar h1{
    font-family: 'Dosis';
    color:white;
    font-size: 3rem;
}
.taskbar h3{
    font-family: 'Dosis';
    color:var(--s2);
    font-weight: 500;
    border-bottom: 1px solid var(--s2);
    background-color: red;
    font-size: 3rem;
}
.taskbar button:hover{
    cursor: pointer;
}
.taskbar button{
    font-family: 'Dosis';
    font-size: 3rem;
    font-weight: 600;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
}
.taskbar{
    padding: 1rem 0;
    height:10rem;
    background-color: red;
    width: 90%;
    margin: 6rem auto;
    border-radius: 1rem;
    display: flex;
    box-sizing: border-box;
    justify-content:space-between;
    padding: 0 4rem;
    align-items:center;
    box-shadow: 0 2px 8px 3px rgba(0,0,0,0.3);
}

.task-list h1{
    font-family: "Dosis";
    color: rgb(56, 55, 55);
    margin: 3rem 0 0 2rem;
    font-size: 6rem;
    padding-bottom: 1rem;
    text-align: center;
}

.AH-two-form h3{
    font-family: "Dosis";
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
    font-weight: 500;
}
.AH-two-form h2{
    font-family: "Dosis";
    text-align: center;
    font-size: 6rem;
}
.AH-two-form button:hover{
    cursor: pointer;
}
.AH-two-form button{
    display: block;
    margin: 8rem auto;
    padding: 2rem 12rem;
    background-color: var(--c2);
    border-radius: 0.6rem;
    color: white;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
    font-family: "Dosis";
    font-size: 3rem;
}
.AH-two-form{
    margin-top:6rem
}

.form-imp h1{
    padding-left: 3rem;
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'Dosis';
}
.form-imp {
    padding-top: 3rem;
}
.form-imp img{
    width:120%;
    position: relative;
    left:-6rem;
    top:-4rem;
    z-index: -10;
}
.form-formula{
    display:flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form-form-box h3{
    font-family: 'Dosis';
    color: white;
    font-size:3.6rem;
    text-align: center;
}
.form-form-box button{
    font-family: 'Dosis';
    font-weight: 600;
    background-color: white;
    border-radius:1rem;
    padding: 0.4rem 1rem;
}
.form-form-box{
    background-color:rgb(255, 73, 73);
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    margin-top:2rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.task-ss-one h1{
    font-family: Dosis;
    font-size: 4rem;
    text-align: center;
}
.task-ss-one button:hover{
    cursor: pointer;
}
.task-ss-one button{
    font-family: Dosis;
    font-weight: 600;
    border-radius:1rem;
    padding: 3rem 1rem;
    background-color: white;
}
.task-ss-one{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:tomato;
    color: white;
    height: 60rem;
    width: 90%;
    margin: 10rem auto;
    padding: 4rem;
    box-sizing: border-box;
    border-radius:1rem;
}